<div class="container-fluid">
  <div class="col-5">
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text" id="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="gender"> Gender </label>
      <select class="form-control">
        <option value="female"> Female </option>
        <option value="male"> Male </option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="on"

  </div>

</div>

